<!--/*
*  ***********************************************************************
*  Scholastic CONFIDENTIAL
*  ___________________
*
*  Copyright 2024 Scholastic
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Scholastic and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Scholastic
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Scholastic.
*  ***********************************************************************
*/-->

<sly data-sly-use.blueButtonModel="com.scholastic.playground.core.models.BlueButton"
     data-sly-test.buttonText="${blueButtonModel.text}">
    <button style="background-color: blue">
        ${buttonText}
    </button>

</sly>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !configured}" />